In [94]:
import pandas as pd
import numpy as np

In [95]:
# upload the file
file_to_load = "Resources/purchase_data.csv"

In [96]:
# read the file
purchase_df = pd.read_csv(file_to_load)

In [97]:
# print the table for display
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [98]:
# Calculate the number of unique total players
total_players = len(purchase_df["SN"].unique())
# Create a data table with the count above
player_count = pd.DataFrame({"Total Players": total_players}, index = [0])
player_count

   Total Players
0            576

In [100]:
# Calculate the number of unique items, average price, number of purchases, and the total revenue
unique_items = len((purchase_df["Item Name"]).unique())
average_price =(purchase_df["Price"]).mean()
number_of_purchases = (purchase_df["Purchase ID"]).count()
total_revenue = (purchase_df["Price"]).sum()

In [101]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
summary_df.style.format({"Average Price":"${:,.2f}", "Total Revenue": "${:,.2f}"})

In [26]:
# Group all the data by gender
gender_data = purchase_df["Gender"].value_counts()
# Create a data frame of gender data 
gender_data_df = pd.DataFrame(gender_data)

# Find the percentage of players by taking the total count of each gender and dividing by total players 
percent_players = (gender_data) / (purchase_df["Gender"].count()) * 100

# Create the data frame
gender_data_df["Percent of Players"] = percent_players 
gender_demo_df = pd.DataFrame(gender_data_df)
gender_demo_df

# Rename the gender column to "Total Count" 
totalcount_demo = gender_demo_df.rename(columns={"Gender": "Total Count"})
totalcount_demo

# Format the percent column into percentages 
totalcount_demo.style.format({"Percent of Players":"{:,.2f}%"})

In [102]:
# Calculate the purchase count of each gender 
total_gender_purchase = purchase_df.groupby("Gender")

player_count = total_gender_purchase["SN"].count()
total_gender_purchase_df = pd.DataFrame(player_count)
total_gender_purchase_df 

#Calculate the average purchase price by gender 
average_price = total_gender_purchase["Price"].mean()

#Calculate the total purchase price by gender 
purchaseprice_gender = total_gender_purchase["Price"].sum()

# Add average purchase price to the table 
total_gender_purchase_df["Average Purchase Price"] = average_price
gender_purchase_df = pd.DataFrame(total_gender_purchase_df)


#Calculate the Average Purchase Total per Person by Gender
average_totalper = purchaseprice_gender / player_count

#Rename the SN column to "Purchase Count" 
gender_purchase_demo_new = gender_purchase_df.rename(columns={"SN": "Purchase Count"})


# Add the total purchase price by gender to the table
gender_purchase_demo_new["Total Purchase Price"] = purchaseprice_gender

gender_purchase_new = pd.DataFrame(gender_purchase_demo_new)
gender_purchase_new

# Add the avg purchase total per person by gender 
gender_purchase_new["Average Purchase Total per Person by Gender"] = average_totalper
gender_purchase_new

#Format the table to have dollar signs 
gender_purchase_new.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Price":"${:,.2f}","Average Purchase Total per Person by Gender":"${:,.2f}" })

In [160]:
# Establish bins for each age group <10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+
bins = [1, 10, 15, 20, 25, 30, 35, 40, 100]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_df = pd.read_csv(file_to_load)
unique_ages = purchase_df.loc[:,["Gender","SN","Age"]]
unique_ages = unique_ages.drop_duplicates()

unique_ages["Age Ranges"] = pd.cut(unique_ages["Age"], bins, labels=age_groups)
unique_ages = unique_ages.groupby(["Age Ranges"])

age_count = unique_ages["SN"].count()
age_total = purchase_df["SN"].count()
age_percent = (age_count / age_total) * 100

age_demo_df = pd.DataFrame({"Total Count": age_count, "Percentage of Players": age_percent})

#Format the percentage
age_demo_df.style.format({"Percentage of Players":"{:,.2f}%"})

In [215]:

# Group all data by age 
bins = [1, 10, 15, 20, 25, 30, 35, 40, 100]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]



# #Find the purchase count from the previous exercise without the duplicates 
purchase_df = pd.read_csv(file_to_load)
unique_ages = purchase_df.loc[:,["Gender","SN","Age", "Price"]]
unique_ages["Age Ranges"] = pd.cut(unique_ages["Age"], bins, labels=age_groups)
unique_ages = unique_ages.groupby(["Age Ranges"])

average_purchase = unique_ages["Price"].sum()
average_purchase_price = average_purchase / age_count

total_purchase_value = average_purchase_price * age_count
avg_total_per = total_purchase_value / average_purchase_price


# Add in columns into the data frame 
purchase_analysis_df = pd.DataFrame({"Total Count": age_count, "Average Purchase Price": average_purchase_price, "Total Purchase Value": total_purchase_value, "Average Total Purchase per Person": avg_total_per})

purchase_analysis_df = purchase_analysis_df.rename(columns={"Total Count": "Purchase Count"})
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Ranges,,,,
<10,32,3.405000,108.96,32.0
10-14,54,2.900000,156.60,54.0
15-19,200,3.107800,621.56,200.0
20-24,325,3.020431,981.64,325.0
25-29,77,2.875584,221.42,77.0
30-34,52,2.994423,155.71,52.0
35-39,33,3.404545,112.35,33.0
40+,7,3.075714,21.53,7.0

In [228]:

sn_df = pd.read_csv(file_to_load)
sn = sn_df["SN"].value_counts()

avg_df = pd.read_csv(file_to_load)
avg = avg_df.groupby("SN")

avgprice = avg["Price"].mean()
sumprice = avg["Price"].sum()

df_one = pd.DataFrame({"SN" "Purchase Count": sn})
df_two = pd.DataFrame({"Average Price": avgprice, "Total Purchase Price": sumprice})
df_one

                 SNPurchase Count
Lisosia93                       5
Idastidru52                     4
Iral74                          4
Tyisur83                        3
Silaera56                       3
...                           ...
Pheusrical25                    1
Tyeudariasuir90                 1
Marirrasta50                    1
Aillyriadru65                   1
Sidap51                         1

[576 rows x 1 columns]

In [229]:
df_two

               Average Price  Total Purchase Price
SN
Adairialis76        2.280000                  2.28
Adastirin33         4.480000                  4.48
Aeda94              4.910000                  4.91
Aela59              4.320000                  4.32
Aelaria33           1.790000                  1.79
...                      ...                   ...
Yathecal82          2.073333                  6.22
Yathedeu43          3.010000                  6.02
Yoishirrala98       4.580000                  4.58
Zhisrisu83          3.945000                  7.89
Zontibe81           2.676667                  8.03

[576 rows x 2 columns]

In [ ]:
# Data Analysis: 
# 1. The Age Range with the highest amount of purchases was between 20-24 
# 2. It looks liek they also had the highest percentage of players with the 15-19 age group trailing behind by ~10%
# 3. The Fantasy games skews mostly male, with males making up about ~84% of the purchase