In [4]:
import pandas as pd
import numpy as np

In [5]:
# upload the file
file_to_load = "Resources/purchase_data.csv"

In [6]:
# read the file
purchase_df = pd.read_csv(file_to_load)

In [7]:
# print the table for display
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
# Calculate the number of unique total players
total_players = len(purchase_df["SN"].unique())
# Create a data table with the count above
player_count = pd.DataFrame({"Total Players": total_players}, index = [0])
player_count

   Total Players
0            576

In [9]:
# Calculate the number of unique items, average price, number of purchases, and the total revenue
unique_items = len((purchase_df["Item Name"]).unique())
average_price =(purchase_df["Price"]).mean()
number_of_purchases = (purchase_df["Purchase ID"]).count()
total_revenue = (purchase_df["Price"]).sum()

In [10]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})
summary_df.style.format({"Average Price":"${:,.2f}", "Total Revenue": "${:,.2f}"})

In [21]:
# Group all the data by gender
gender_data = purchase_df["Gender"].value_counts()
# Create a data frame of gender data 
gender_data_df = pd.DataFrame(gender_data)

# Find the percentage of players by taking the total count of each gender and dividing by total players 
percent_players = (gender_data) / (purchase_df["Gender"].count()) * 100

# Create the data frame
gender_data_df["Percent of Players"] = percent_players 
gender_demo_df = pd.DataFrame(gender_data_df)
gender_demo_df

                       Gender  Percent of Players
Male                      652           83.589744
Female                    113           14.487179
Other / Non-Disclosed      15            1.923077